In [1]:
# import data manipulation libraries
import numpy as np
import pandas as pd
# import visualization tools
import matplotlib.pyplot as plt
import seaborn as sns
# import statistical tools
from scipy import stats
# import data wrangle functions
import wrangle_austin_shelter as w

In [ ]:
animals, train, validate, test = w.wrangle_austin_animal_shelter()

In [3]:
animals.head()

,animal_id,name,datetime_in,monthyear_in,found_location,intake_type,intake_condition,animal_type,sex_upon_intake,age_upon_intake,breed,color,datetime_out,monthyear_out,date_of_birth,outcome_type,outcome_subtype,sex_upon_outcome,age_upon_outcome,outcome
0,A665644,NaN,2013-10-21 07:59:00,October 2013,Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair Mix,Calico,2013-10-21 11:39:00,Oct 2013,09/21/2013,Transfer,Partner,Intact Female,4 weeks,transfered
1,A665739,*Alana,2013-10-22 11:11:00,October 2013,Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Medium Hair Mix,Black,2013-12-20 17:36:00,Dec 2013,09/16/2013,Adoption,Foster,Spayed Female,3 months,adopted
2,A665763,NaN,2013-10-22 15:10:00,October 2013,E Riverside Dr/Royal Crest Dr in Austin (TX),Stray,Normal,Dog,Intact Male,4 months,Cairn Terrier Mix,Tan/White,2013-10-26 18:32:00,Oct 2013,06/22/2013,Adoption,NaN,Neutered Male,4 months,adopted
3,A379998,Disciple,2013-10-23 11:42:00,October 2013,51St And Grover in Austin (TX),Stray,Normal,Dog,Intact Male,10 years,Pit Bull,Black,2013-10-25 12:53:00,Oct 2013,02/21/2003,Return to Owner,NaN,Intact Male,10 years,returned
4,A634503,Otter,2013-10-01 14:49:00,October 2013,Manor (TX),Owner Surrender,Normal,Dog,Spayed Female,2 years,Norfolk Terrier Mix,Tan,2013-10-02 12:40:00,Oct 2013,08/11/2011,Adoption,NaN,Spayed Female,2 years,adopted

In [ ]:
animals.datetime_in.min(), animals.datetime_in.max()

In [ ]:
animals.isna().sum()

In [ ]:
animals[animals.sex_upon_intake.isna() == True]

#### one of the na values of the sex_upon_intake is a Test, since there is only 1 other it won't make much difference to drop that row

In [ ]:
animals = animals[animals.sex_upon_intake.isna() == False]

In [ ]:
animals.isna().sum()

In [ ]:
animals.outcome_type.value_counts(dropna=False)

In [ ]:
animals[animals.outcome_type.isna() == True].sort_values('animal_id')

In [ ]:
train.intake_type.value_counts()

In [ ]:
animals[animals.intake_type == 'Wildlife']

In [ ]:
animals[animals.intake_type == 'Wildlife'].outcome_type.value_counts()

In [ ]:
((72 + 14 + 7 + 4) / 5789) * 100

#### Looks like things don't turn out very well for wildlife that gets sent to the animal shelter, only 1.68 % survive a trip to the animal shelter

In [ ]:
animals.animal_type.value_counts()

In [ ]:
animals[(animals.animal_type == 'Other') & (animals.intake_type != 'Wildlife')]

In [ ]:
animals[(animals.animal_type == 'Other')
        & (animals.intake_type != 'Wildlife')].outcome_type.value_counts()

In [ ]:
animals[(animals.animal_type == 'Other')
        & (animals.intake_type != 'Wildlife')].breed.value_counts()

In [ ]:
animals.outcome_type.value_counts(dropna=False)

In [ ]:
animals.animal_type.value_counts()

In [ ]:
dogs = animals[animals.animal_type == 'Dog']
cats = animals[animals.animal_type == 'Cat']
others = animals[animals.animal_type == 'Other']
birds = animals[animals.animal_type == 'Bird']
livestock = animals[animals.animal_type == 'Livestock']

In [ ]:
dogs.outcome_type.value_counts()

In [ ]:
dogs.intake_type.value_counts()

In [ ]:
animals.outcome_type.value_counts(dropna=False)

In [ ]:
animals[animals.outcome_type == 'Adoption'].outcome_subtype.value_counts()

In [ ]:
# added this to the preparation step

# animals['outcome'] = np.where(animals.outcome_type == 'Adoption', 'adopted',
#                           np.where(animals.outcome_type == 'Return to Owner', 'returned',
#                           np.where(animals.outcome_type == 'Transfer', 'transfered',
#                           np.where(animals.outcome_type == 'Euthanasia', 'death',
#                           np.where(animals.outcome_type == 'Rto-Adopt', 'returned',
#                           np.where(animals.outcome_type == 'Died', 'death',
#                           np.where(animals.outcome_type == 'Disposal', 'death',
#                           np.where(animals.outcome_type == 'Missing', 'unknown',
#                           np.where(animals.outcome_type == 'Stolen', 'unknown',
#                           np.where(animals.outcome_type == 'Relocate', 'transfered',
#                           np.where(animals.outcome_type.isnull() == True, 'unknown', ''
#                                   )))))))))))

In [ ]:
animals[animals.outcome == '']

In [ ]:
animals.outcome.value_counts().plot.bar()

In [ ]:
deaths = animals[animals.outcome == 'death']

In [ ]:
deaths = deaths.set_index('datetime_out')

In [ ]:
deaths[deaths.intake_type != 'Wildlife'].intake_condition.value_counts()

In [ ]:
deaths[deaths.intake_type == 'Wildlife'].intake_condition.value_counts()

In [ ]:
deaths

In [ ]:
deaths.resample('Y').animal_id.count().plot()
plt.title('Deaths by Year')
plt.xlabel('Year')
plt.ylabel('Number of Animal Deaths in Shelter')
plt.show()